*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
out/
target/
build/
*.iml
*.ipr
*.iws
*.orig
.gradle/
.settings/
.classpath
.project
.metadata/
.idea/
.mvn/
logs/
dev.properties
dependency-reduced-pom.xml
*.rdb
log/
application.yml
*.perm
LOG_FILE_IS_UNDEFINED*
*.py
*.pyc
web/src/main/webapp/public/
web/src/main/webapp/.sass-cache/
web/src/main/webapp/vendor/
.DS_Store
icons.scss
Linnerfile
_variables.scss
jiggly.json
*.tar.gz
